# Node.js dependencies
node_modules/
package-lock.json

# Environment Variables
.env
.env.local
.env.development
.env.production
.env.test

# Build files
.next/
out/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor/IDE files
.vscode/
.idea/
.DS_Store
